body {
	background: white;
	color: black;
	font-family: Georgia, serif;
	font-size: 11pt;
	margin: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

h1,
h2,
h3,
h4 {
	font-family: Calibri, sans-serif;
	margin: 0;
}

img {
	border: 0;
}

pre,
code {
	color: #060;
}

a,
a code {
	color: #3b5998;
}

table {
	border-collapse: collapse;
	border: 0;
}

td {
	border: 0;
	padding: 0;
}

.buttons td {
	vertical-align: top;
	padding-right: 15px;
}

.highlight {
	background-color: #fbfe7f;
}

#body {
	margin: auto;
	max-width: 850px;
}

#header {
	margin-bottom: 15px;
	margin-right: 30px;
	text-align: center;
}

#content,
#footer {
	margin-left: 31px;
	margin-right: 31px;
}

#content p,
#content li,
#footer {
	line-height: 16pt;
}

#content pre {
	line-height: 14pt;
	margin: 17pt;
	padding-left: 1em;
	border-left: 1px solid #ccc;
}

#footer {
	margin-top: 1em;
}

#content h1,
#content h2,
#content h3 {
	color: #666;
	margin-bottom: 2pt;
	margin-top: 17pt;
}

#content h2 {
	font-size: 19pt;
}

#content h3 {
	font-size: 15pt;
}

#content p {
	margin: 0;
	margin-bottom: 1em;
}
.span-18{width:715px}
.last{margin-right:0}
.append-1{padding-right:40px}
.prepend-1{padding-left:40px}
#nav {
	padding-top: 7px;
	background-color: #f8fbfd;
}
#nav ul.navigation {
	margin-bottom: 7px;
}
#nav ul.navigation li {
	margin-right: 0;
}
#nav ul.navigation li a {
	color: #515151;
	text-decoration: none;
	padding: 8px 24px 8px 24px;
	margin-left: -4px;
}
#nav ul.navigation li a.selected {
	background-color: #515151;
	color: #fff;
}
#nav ul.navigation a:hover {
	background: #e5f1ff;
}
ul.navigation, ul.navigation li {
  list-style: none;
}
ul.navigation li {
  display: inline;
  margin-right: 1.3em;
}